.home-work__header {
  color: var(--primary);
  font-family: GothamBold;
  font-size: 3rem;
  text-align: center;
}

.home-work__section {
  background-color: var(--primarytext);
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-work__wrap {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.home-work__carousel {
  width: 100%;
  margin: auto;
}

.home-work__carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.home-work__carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#work {
  position: relative;
}

/* Working-Card */

.home-work__card {
  margin: 5rem auto;
  border-radius: 5px;
  width: 75%;
  height: 500px;
  max-width: 1000px;
  display: flex;
}

.home-work__card-body {
  padding: 0rem 2rem 1rem;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-work__title-row {
  display: flex;
  align-items: center;
}

.home-work__logo {
  width: 150px;
  height: 150px;
  margin-right: 2rem;
  object-fit: contain;
}

.home-work__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: GothamBold;
  margin-bottom: 0;
}

.home-work__subtitle {
  font-family: Gotham;
  line-height: 2rem;
  width: 73%;
}

.home-work__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-work__image-wrapper {
  width: 100%;
  height: 200px;
}

.home-work__image-container {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  margin-right: 3rem;
  z-index: -1;
  width: 70%;
}

.home-work__button-text {
  margin-bottom: 0;
  padding: 1rem 1rem;
  font-family: Gotham;
  letter-spacing: 1px;
}

.home-work__button {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 74%;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.home-work__button:focus {
  outline: none;
}

.home-work__button:hover {
  transform: scale(1.02);
}

.home-work__button:active {
  transform: scale(1);
}

.home-work__phone {
  height: 550px;
  width: 550px;
  position: absolute;
  top: -25px;
  right: -10rem;
  z-index: -1;
}

.home-work__phone-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1250px) {
  .home-work__card-body {
    padding: 1rem 2rem 1rem;
  }
  .home-work__image-container {
    width: 90%;
    margin-bottom: 2rem;
    margin-right: 3rem;
  }
  .home-work__button {
    width: 100%;
  }
  .home-work__subtitle {
    width: 100%;
    font-size: 0.8rem;
  }
  .home-work__logo {
    width: 100px;
    height: 100px;
  }
  .home-work__title {
    font-size: 2rem;
  }
  .home-work__phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .home-work__phone {
    display: none;
  }
  .home-work__image-container {
    width: 80%;
  }
  .home-work__subtitle {
    width: 100%;
  }
  .home-work__logo {
    width: 100px;
    height: 100px;
  }
  .home-work__title {
    font-size: 1.5rem;
  }
  .home-work__card {
    height: 450px;
    margin: 3rem auto;
  }
  .home-work__header {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .home-work__phone {
    display: none;
  }
  .home-work__image-container {
    width: 80%;
  }
  .home-work__subtitle {
    width: 100%;
    font-size: 0.6rem;
    line-height: 1.3rem;
    text-align: justify;
    margin-top: 0.5rem;
  }
  .home-work__logo {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .home-work__title {
    font-size: 1.2rem;
  }
  .home-work__card {
    height: 370px;
    margin: 2rem auto;
  }
  .home-work__title-row {
    flex-direction: column;
  }
  .home-work__card-body {
    padding: 0rem 1rem 1rem;
  }
  .home-work__button-text {
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem;
  }
  .home-work__image-container {
    width: 100%;
    margin-bottom: -0.5rem;
    margin-right: 0rem;
    height: 200px;
    right: 0;
  }
  .home-work__header {
    font-size: 1.5rem;
  }
  .home-work__section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
