:root {
  --primary: #FFFFFF !important;
  --secondary: #c17577!important;
  --primarytext: #373737 !important;
  --secondarytext: #FFFFFF!important;
  --white: #fff !important;
  --black: #373737 !important;
}

@font-face {
  font-family: Gotham;
  src: url(/fonts/Gotham-Light.otf);
}

@font-face {
  font-family: GothamBold;
  src: url(/fonts/Gotham-Bold.otf);
}

html {
  font-family: Gotham, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(22, 28, 45, 0);
  scroll-behavior: smooth;
}

footer,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.6;
  color: #161c2d;
  text-align: left;
  background-color: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: Gotham, sans-serif;
}
