.seye-bot-graph-container {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem 0;
}

.seye-bot-graph-container > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.seye-bot-graph {
  height: 450px;
  width: 640px;
}

.seye-bot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seye-bot-container {
  height: 650px;
  position: relative;
  background-color: var(--primary);
  display: grid;
  grid-template-rows: 1fr 0.4fr;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 2rem 0;
  overflow: hidden;
}

.seye-bot-container > div:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.seye-bot-container > div:last-child > a {
  cursor: pointer;
}

.seye-bot-wrapper > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  margin-bottom: 1rem;
}

.seye-bot-wrapper > p {
  color: var(--white);
  max-width: 800px;
  padding: 0 2rem;
  z-index: 1;
  text-align: center;
  font-size: 0.8rem;
}

.seye-logo {
  width: 100px;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.progress-bar {
  width: 150px;
  margin-bottom: 1rem;
  font-family: GothamBold;
}

.progress-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progress-bar-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

.progress-bar-container > div > h1 {
  font-family: GothamBold;
  color: var(--white);
  font-size: .8rem;
  text-align: center;
}

.pulsar {
  stroke-dasharray: 281;
  animation: dash 5s infinite linear forwards;
}

.pulse-svg {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  bottom: 80px;
}

.seye-description-container {
    overflow: hidden;
  background-color: var(--black);
  padding: 2rem;
}

.seye-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.description-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.description-text-container > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.description-text-container > p {
    color: var(--white);
    line-height: 30px;
    font-size: .8rem;
    text-align: justify;
  }

  .description-text-container > p>span {
    font-family: GothamBold;
  }

  .seye-guide-container {
    background-color: var(--primarytext);
    padding: 2rem;
  }
  
  .seye-guide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: auto;
  }
  
  .guide-text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .guide-text-container > h1 {
    color: var(--primary);
    font-family: GothamBold;
    text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .guide-text-container > p {
      color: var(--white);
      line-height: 30px;
      font-size: .8rem;
      text-align: justify;
    }
  
    .guide-text-container > p>span {
      font-family: GothamBold;
    }

    .guide-step-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        font-family: GothamBold;
        margin: 1rem;
    }

    .guide-step-wrapper {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        /* justify-content: center; */
        align-items: center;
        background-color: var(--white);
        outline: none;
        border: none;
        color: var(--black);
        padding: 0rem;
        overflow: hidden;
    }

    .guide-step-wrapper>div {
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: .8rem;
      text-align: left;
    }

    .guide-step-wrapper>div:last-child {
    display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     background-color: var(--primary);
    }

    .guide-numbering>div {
        background-color: var(--primary);
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
    }

    .guide-collapse {
        background-color: var(--white);
        margin-top: 1rem;
        padding: 1rem;
        line-height: 30px;
        font-family: Gotham;
        font-size: .8rem;
    }
  
    .guide-collapse>span,
    .guide-collapse>a {
        font-family: GothamBold;
    }

    .get-started {
        background-color: #DF678C;
        color: var(--white);
        padding: .8rem 1.5rem;
        cursor: pointer;
        z-index: 2;
        border-radius: 30px;
        margin-top: 10px;
        font-size: .8rem;
    }

    .get-started>a {
     color: white ;
     font-family: GothamBold;
     width: 100%;
    }


    .seye-nfa-container {
        overflow: hidden;
      background-color: var(--primary);
      padding: 2rem;
    }
    
    .seye-nfa-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1024px;
      margin: auto;
    }
    
    .nfa-text-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    
    .nfa-text-container > h1 {
      color: #909090;
      font-family: GothamBold;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    
    .nfa-text-container > p {
        color: #909090;
        line-height: 30px;
        font-size: .6rem;
        text-align: justify;
        margin-bottom: 0;
      }
    
      .nfa-text-container > p>span {
        font-family: GothamBold;
      }

@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: -800;
  }
}

@media (min-width: 1024px) {
  .description-text-container > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .nfa-text-container > h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .guide-text-container > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .seye-bot-wrapper > h1 {
    font-size: 5rem;
  }
  .description-text-container > p {
    font-size: 1rem;
    line-height: 30px;
  }
  .guide-text-container > p {
    font-size: 1rem;
    line-height: 30px;
  }
  .seye-logo {
    width: 150px;
  }
  .seye-bot-wrapper > p {
    font-size: 1rem;
  }
  .pulse-svg {
    bottom: 100px;
  }
  .progress-bar-container > div > h1 {
      font-size: 1rem;
  }
  .get-started {
      font-size: 1rem;
      padding: 1rem 2rem;
}
.guide-step-wrapper>div {
    font-size: 1rem;
  }
  .guide-collapse {
      font-size: 1rem;
}
.guide-numbering>div {
    width: 40px;
    height: 40px;
}
.nfa-text-container > p {
    font-size: .8rem;
    line-height: 30px;
  }
}
