.my-work-header {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 3rem;
  text-align: center;
}

.work-container {
  background-color: var(--primary);
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.work-wrap {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.carousel-container {
  width: 100%;
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f4d2d3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f4d2d3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#work {
  position: relative;
}

/* Working-Card */

.work-card-container {
  margin: 5rem auto;
  border-radius: 5px;
  width: 75%;
  height: 500px;
  max-width: 1000px;
  display: flex;
}

.work-card-body {
  padding: 0rem 2rem 1rem;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.work-title-row {
  display: flex;
  align-items: center;
}

.work-gif-logo {
  width: 150px;
  height: 150px;
  margin-right: 2rem;
  object-fit: contain;
}

.work-card-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: GothamBold;
  color: var(--white);
  margin-bottom: 0;
}

.work-card-subtitle {
  font-weight: bold;
  font-family: Gotham;
  color: var(--white);
  line-height: 2rem;
  width: 73%;
}

.work-card-image-1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work-card-image-wrapper {
  width: 100%;
  height: 200px;
}

.work-card-image-container {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  margin-right: 3rem;
  z-index: -1;
  width: 70%;
}

.work-button-text {
  margin-bottom: 0;
  padding: 1rem 1rem;
  font-family: Gotham;
  letter-spacing: 1px;
}

.work-button {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  width: 74%;
}

.work-button:focus {
  outline: none;
}

.work-button:hover {
  transform: scale(1.02);
}

.work-button:active {
  transform: scale(1);
}

.work-card-phone {
  height: 550px;
  width: 550px;
  position: absolute;
  top: -25px;
  right: -10rem;
  z-index: 1;
}

.work-card-phone-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1250px) {
  .work-card-body {
    padding: 1rem 2rem 1rem;
  }
  .work-card-phone {
    height: 400px;
    width: 400px;
    top: 0.5rem;
    right: -4rem;
  }
  .work-card-image-container {
    width: 60%;
    margin-bottom: 2rem;
    margin-right: 3rem;
  }
  .work-button {
    width: 100%;
  }
  .work-card-subtitle {
    width: 66%;
    font-size: 0.8rem;
  }
  .work-gif-logo {
    width: 100px;
    height: 100px;
  }
  .work-card-title {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .work-card-phone {
    height: 350px;
    width: 350px;
    top: 0.5rem;
    right: -4rem;
  }
}

@media (max-width: 768px) {
  .work-card-phone {
    display: none;
  }
  .work-card-image-container {
    width: 80%;
  }
  .work-card-subtitle {
    width: 100%;
  }
  .work-gif-logo {
    width: 100px;
    height: 100px;
  }
  .work-card-title {
    font-size: 1.5rem;
  }
  .work-card-container {
    height: 450px;
    margin: 3rem auto;
  }
  .my-work-header {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .work-card-phone {
    display: none;
  }
  .work-card-image-container {
    width: 80%;
  }
  .work-card-subtitle {
    width: 100%;
    font-size: 0.5rem;
    line-height: 1.3rem;
    text-align: justify;
    margin-top: 0.5rem;
  }
  .work-gif-logo {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .work-card-title {
    font-size: 1rem;
  }
  .work-card-container {
    height: 370px;
    margin: 2rem auto;
  }
  .work-title-row {
    flex-direction: column;
  }
  .work-card-body {
    padding: 0rem 1rem 1rem;
  }
  .work-button-text {
    padding: 0.5rem 0.5rem;
    font-size: 0.6rem;
  }
  .work-card-image-container {
    width: 85%;
    margin-bottom: -0.5rem;
    margin-right: 0rem;
    height: 200px;
  }
  .my-work-header {
    font-size: 1.5rem;
  }
  .work-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
