.about-container {
  background-color: var(--secondary);
  width: 100%;
  padding: 3rem 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url('../../../public/images/bg-white-transparent-vertical.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-iphone {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  max-width: 500px;
}

.about-header {
  color: var(--primary);
  font-family: GothamBold;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.about-subhead {
  color: var(--primarytext);
  font-family: GothamBold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-right-content {
  font-size: .8rem;
  line-height: 2;
  text-align: center;
  margin-top: 1rem;
  max-width: 600px;
  color: var(--primary);
}

#about {
  position: relative;
}

.about-side-top-right {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
}

.about-side-top-left {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about-side-bottom-right {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.about-side-bottom-left {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

.about-wrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.about-right-container {
  width: 100%;
}

@media (min-width: 1024px) {
  .about-wrap {
    flex-direction: row;
  }
  .about-left-container {
    width: 50%;
  }
  .about-right-container {
    width: 50%;
  }
  .about-right-content {
    text-align: left;
    font-size: 1rem;
  }
  .about-header {
    text-align: left;
    font-size: 2.5rem;
  }
  .about-container {
    background-image: url('../../../public/images/bg-white-transparent.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
}