.footer-container {
  background-color: var(--secondary);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 576px) {
  .footer-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 319px) {
  .footer-text {
    font-size: 0.6rem;
  }
}
