.header-container {
  background-color: transparent;
  height: 100px;
  display: flex;
  padding: 0 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 17;
}

.overlay {
  transform: translatey(calc((1 - 1) * 100%));
  margin-bottom: -145px;
  z-index: 1000;
}


.header-container-fixed {
  background-color: var(--primary);
  height: 100px;
  display: flex;
  padding: 0 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 17;
  position: fixed;
}

.logo-z-index {
  z-index: 17;
}

.logo-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.logo-container:focus,
.logo-container:hover {
  text-decoration: none;
  transform: scale(1.02);
  cursor: pointer;
}

.logo-container:active {
  transform: scale(1);
}

.logo-image-wrapper {
  width: 5rem;
  height: 4rem;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-name {
  margin-left: 10px;
  color: var(--black);
  text-decoration: none;
}

.logo-name:focus,
.logo-name:hover {
  color: var(--secondary);
  text-decoration: none;
}

.header-navigation {
  display: flex;
  list-style: none;
}

.resume-style {
  border: 1px solid var(--primarytext);
  margin-top: 1rem;
}

.resume-text {
  font-size: 12px;
  display: block;
  padding: 1rem 1.5rem;
  color: var(--primarytext);
  text-align: center;
  align-self: center;
  font-family: GothamBold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.resume-style:focus, 
.resume-style:hover {
  border: 1px solid var(--secondary);
}

.resume-text:focus,
.resume-text:hover {
  color: var(--primary);
  background-color: var(--secondary);
  text-decoration: none;
  transform: scale(1);
}

.resumeText:active {
  transform: scale(1);
}

.portfolio-text {
  font-size: 12px;
  display: block;
  padding: 1rem 1.5rem;
  color: var(--primarytext);
  text-align: center;
  align-self: center;
  font-family: GothamBold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.portfolio-text:focus,
.portfolio-text:hover {
  text-decoration: none;
  color: var(--secondary);
}

.hamburger-menu {
  position: absolute !important;
  left: 0;
  margin-left: 2rem;
  display: flex;
  z-index: 17;
}

.mobile-sidebar {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  position: fixed;
  top: 0;
  z-index: 16;
  transition: opacity 0.2s ease-in-out;
  animation: background-fade 0.2s;
}

.header-navigation-mobile {
  display: flex;
  list-style: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header-navigation {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .header-container-fixed {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .logo-image-wrapper {
    width: 3rem;
    height: 4rem;
  }
  .logo-name {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) {
  .header-navigation-mobile {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
  .resume-style {
    margin-left: 2rem;
    margin-top: 0;
  }  
}

@keyframes background-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
