.landing-section-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description-section-container {
  background-color: var(--white);
  padding: 0;
}

.description-wrapper {
  padding: 1.5rem;
  margin: auto;
  max-width: 1400px;
}

.title-text {
  font-family: GothamBold;
  text-align: center;
  font-size: 25px;
}

.description-subtitle {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-row-gap: 2rem;
  margin-top: 2rem;
  line-height: 2rem;
}

.role-title {
  font-family: GothamBold;
}

.button-container {
  display: flex;
  margin-top: 4rem;
}

.prototype-button {
  text-decoration: none;
  border-radius: 5px;
  color: var(--white);
  text-align: center;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.prototype-button:focus,
.prototype-button:hover {
  text-decoration: none;
  color: var(--white);
  transform: scale(1.05);
}

.prototype-button:active {
  transform: scale(1);
}

.app-button-container {
  height: 78px;
  width: 256px;
}

.app-button {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.app-button:focus,
.app-button:hover {
  text-decoration: none;
  color: var(--white);
  transform: scale(1.05);
}

.app-button:active {
  transform: scale(1);
}

.app-button-container {
  display: flex;
  margin-top: 0rem;
}

.button-container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.button-container-app>a {
  margin-right: 0rem;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.button-container-app>a:last-child {
  margin-right: 0rem;
}

.website-button {
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.website-button:focus,
.website-button:hover {
  text-decoration: none;
  color: var(--white);
  transform: scale(1.05);
}

.hr--medium {
  margin: 2rem 0;
}

@media (max-width: 1200px) {
  .app-button-container {
    height: 50px;
    width: 150px;
  }
  .website-button {
    font-size: 0.8rem;
  }
  .prototype-button {
    font-size: 0.8rem;
  }
}

@media (min-width: 575px) {
  .image-container {
    padding: 2rem;
  }
  .button-container-app {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
  .button-container-app>a {
    margin-bottom: 0rem;
  }
}

@media (min-width: 768px) {
  .button-container-app {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .description-wrapper {
    padding: 3rem;
  }
  .title-text {
    text-align: left;
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .landing-section-container {
    padding: 3rem;
  }
  .landing-section-container {
    height: 750px;
  }
  .description-wrapper {
    padding: 4rem;
  }
  .description-subtitle {
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 5rem;
    margin-top: 4rem;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
  }
  .button-container-app {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }
}
